body {
    background: #f5f5f5;
    color: rgba(51, 51, 51, 1);
}

.navbar-large {
    padding: 20px 0; 
    background-color:  transparent;
    transition: 0.5s ease; 
}

.navbar-small {
    padding: 10px 0; 
    background-color: rgba(56, 64, 68, 0.9);
    transition: 0.5s ease;
}

.logo-large {
  max-height: 100px;
  transition: 0.5s ease; 
}

.logo-small {
  max-height: 50px !important;
  transition: 0.5s ease;
}

.logo{
  max-height: 110px;
}

.navbar-nav-small{
  background-color: transparent !important;
}

.navbar .nav-link {
    color: rgba(255, 255, 255, 1);
}

.footer{
    background-color:  rgba(93, 139, 173, 0.9) !important;
}

.footer-menu ul {
    list-style-type: none;
    padding-left: 0;
  }
  .footer-menu ul li {
    display: inline;
    margin-right: 10px;
  }
  .footer-menu ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  .social-icons .btn-social {
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #ccc; 
    transition: color 0.3s ease; 
    border: none; 
  }
  
  .social-icons .btn-social:hover {
    color: #007bff; 
  }

  #contact-map iframe {
    display: block;
    width: 100%;
    height: 400px;
    margin: 0;
    padding-top: 73px;
}

  .location-icon {
    color: #ffffff;
    font-size: 24px;
    margin-right: 5px;
  }

  .location-description {
    color: #ffffff;
    font-size: 18px;
  }

  .banner {
    display: none;
    text-align: center;
  }

  .banner img {
    max-height: 700px;
    object-fit: cover;
  }
  
  @media (max-width: 991px) {
    .navbar-nav{
      background-color: rgba(56, 64, 68, 0.9) ;
      padding: 10px;
    }

    .logo{
      max-height: 70px;
    }

    .banner img {
      height: 50vh;
      object-fit: cover;
    }

    .custom-toggler {
      background-color: rgba(255, 255, 255, 0.5); 
      border-color: rgba(255, 255, 255, 0.5); 
      color: #fff; 
    }
  }

  @media (max-width: 767px) {
    #contact-map iframe {
      padding-top: 40px;
    }
  }

  .acerca{
    padding-top: 160px;
    padding-bottom: 120px;
  }

  .contact-form-map{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #conctato-info {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 100px 0;
  }
  
  .content-contact-info{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #ffffff;
  }

  .spinner-wrapper{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }
